[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restx = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
flask = "*"
flask-security = "*"
mysqlclient = "*"
jsonpickle = "*"
sqlalchemy-serializer = "*"
flask-serialize = "*"

[dev-packages]

[requires]
python_version = "3.8"
